html,
body {
    height: 100%;
    font-family: "Fira Sans", sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

p {
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
}

a {
    font-family: "Fira Sans", sans-serif;
}

@media only screen and (min-width: 600px) {
    .centery {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media only screen and (max-width: 600px) {
    .centery {
        position: relative;
        top: 7%
    }
}

.topy {
    position: relative;
    top: 7%
}

.centerx {
    position: relative;
    margin: auto;
}

.box {
    width: 70%;
    max-width: 900px;
    min-width: 300px;
}

.text {
    height: 50px;
    max-width: 400px;
    width: 90%;
    border-radius: 50px;
    outline: none;
    border: 3px #3E3EDA solid;
    font-size: 40px;
    font-family: "Fira Sans";
    padding: 5px 10px;
    text-align: center;
}

.small {
    height: 50px;
    max-width: 100px;
    width: 90%;
    border-radius: 50px;
    outline: none;
    border: 3px #3E3EDA solid;
    font-size: 40px;
    font-family: "Fira Sans";
    padding: 5px 10px;
    text-align: center;
}

#copy-result {
    border-radius: 5px;
    background-color: #b7b7ff;
    padding: 10px;
    width: 300px;
    margin: 15px auto;
}

.char {
    padding: 5px 6px;
    min-width: 40px;
    overflow: auto;
    border-radius: 5px;
    border: 2px #ddd solid;
    font-size: 30px;
    margin: 0px 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 55px;
    white-space: pre-wrap;
    transition: all 0.1s linear;
}

.char:hover {
    cursor: pointer;
}

.char2 {
    padding: 5px 6px;
    min-width: 40px;
    overflow: auto;
    border-radius: 5px;
    border: 2px #ddd solid;
    font-size: 30px;
    margin: 0px 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 55px;
    white-space: pre-wrap;
}

.btn {
    outline: none;
    font-size: 20px;
    padding: 5px 15px;
    text-decoration: none;
    font-family: "Fira Sans";
    cursor: pointer;
    border: 2px #3e3eda solid;
    border-radius: 50px;
    background-color: white;
    color: #3E3EDA;
    transition: all 0.1s linear;
}

.btn:hover {
    background-color: hsl(234, 100%, 96%);
}

.not {
    border: 2px #ff9393 solid;
    background-color: #fff7f7;
}

a {
    color: black;
}

#balanced {
    transition: opacity 0.3s linear;
}

#balanced:not(.show) {
    opacity: 0;
    pointer-events: none;
    cursor: default;
    visibility: hidden;
}

#result {
    transition: opacity 0.7s linear;
}

#result:not(.show) {
    opacity: 0;
    pointer-events: none;
    cursor: default;
    visibility: hidden;
}

.tooltip {
    background-color: rgb(101, 101, 225);
    z-index: 5;
    color: white;
    width: 70px;
    padding: 10px 15px;
    border-radius: 50px;
    display: inline-block;
    transition: opacity 0.2s linear;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 37px;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: rgb(101, 101, 225) transparent transparent transparent;
    transition: opacity 0.2s linear;
}

.tooltip:not(.show) {
    opacity: 0;
    pointer-events: none;
    cursor: default;
}

code {
    font-family: Consolas, "courier new";
    color: #4f4fac;
    background-color: #f1f1f1;
    font-size: 100%;
    display: inline-block;
    border-radius: 5px;
    padding: 3px;
    overflow-wrap: anywhere;
}

.code-tall {
    margin: 10px 0px;
}

.code-input {
    background-color: #f1f1f1;
    color: #b84d4d;
    border: 1px #f1f1f1 solid;
    margin: 10px 0px;
    width: 60px;
    font-size: 120%;
    text-align: center;
    border-radius: 100px;
    outline: none;
}

.code-input:focus {
    border: 1px #b84d4d solid;
}

.checkbox {
    accent-color: #6666E1;
}

.spoiler {
    color: black;
    background-color: black;
}

.spoiler:hover {
    background-color:white;
}

#add {
    color: #3eda65;
    border: 2px #3eda65 solid;
}

#add:hover {
    background-color: hsl(141, 100%, 96%)
}

#sub {
    color: #cf4467;
    border: 2px #cf4467 solid;
}

#sub:hover {
    background-color: hsl(0, 100%, 96%)
}